.boton{
    margin-top: 25px;
    display: flex;
    justify-content: center; 
}

button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    padding: 20px;
    border: none;
    background-color: orange;
    border-radius: 15px;
}

div{
    margin-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

