*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

#divPrincipal{
    width: fit-content;
}

.fila{
    display: flex;
    border: 1px solid black;
    width: fit-content; 
    height: auto;
}

.columna{
    border: 1px solid #000000;
    width: 50px;
    height: 50px;
    background-color:grey;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.columna img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 0.2s ease;
}

.pacman-izquierda{
    transform: rotate(0deg);
}

.pacman-derecha{
    transform: rotate(180deg);
}

.pacman-arriba{
    transform: rotate(90deg);
}

.pacman-abajo{
    transform: rotate(-90deg);
}