*{
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Zalando Sans Expanded", sans-serif;
}

body{
    background: linear-gradient(to right, #202020, #2e2b5f);
    color: white;
}

#contenedorPrincipal{
    display: flex;
    align-items: center;
}

#contenedorTablero{
    width: 1000px; 
    max-width: 1000px; 
    min-width: 1000px; 
    height: 600px;
    background-image:  url(https://astrodaw.vercel.app/tablero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -17rem; /*corrección al cambiar los tamaños del tablero */
}

#contenedorMarcador{
    display: flex;
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;


    & h2{
        font-size: 32px;
    }

    #cajaDado{
        font-size: 24px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
        width: 4rem;
        height: 4rem;
    }

    & #jugadores{
        display: flex;
        gap: 8rem;
        
        & #botonDadoUno{
            
            background-color: red;
            box-shadow: 0px 0px 0px rgba(255, 0, 0, 0.5);
            transition: box-shadow 0.3s linear; 

            &:hover{
                cursor: pointer;
                color: white;
                box-shadow: 0px 0px 100px 20px rgba(255, 0, 0, 1);
            } 
        }

        & #botonDadoDos{
            background-color: greenyellow;
            box-shadow: 0px 0px 0px rgba(7, 247, 35, 0.5);
            transition: box-shadow 0.3s linear;

            &:hover{
                cursor: pointer;
                color: white;
                box-shadow: 0px 0px 100px 20px rgba(7, 247, 35, 1)
            }
        }
    }

        & button{
            margin-top: 2rem;
            border: none;
            border-radius: 12px;
            padding: 10px 30px;
            font-size: 16px;
            letter-spacing: 0.3rem;
        }

    }

    & #pregunta{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -2rem 0 -3rem 0;
        width: 500px;
        height: 100px;
    }
    
    & .respuestaUno, .respuestaDos, .respuestaTres{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 75px;
        border: 1px solid blue;
        border-radius: 12;

        &:hover{
            cursor: pointer;
            box-shadow: 0 0 3rem 1rem rgb(255, 255, 255);
        }
    }

#contenedorPreguntas p{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

#cajaDado{
    width: 40px;
    height: 40px;
    background-image: url(/images/caraUno.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#pTurno{
    color: white;
}

/*FICHA ROJA Y FICHA VERDE*/
.fichaUno{
    position: absolute;
    z-index: 99;
    left: 190px;
    top: 570px;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(145, 31, 31);
    border-radius: 50%;
    background: radial-gradient(circle,rgba(255, 0, 0, 1) 0%, rgba(219, 26, 26, 1) 10%, rgba(143, 63, 63, 1) 100%);
    transition: top 1s linear, left 1s linear;
}

.fichaDos{
    position: absolute;
    z-index: 98;
    left: 235px;
    top: 570px;
    width: 30px;
    height: 30px;
    border: 1px solid green;
    border-radius: 50%;
    background: radial-gradient(circle,rgba(7, 247, 35, 1) 0%, rgba(39, 214, 112, 1) 34%, rgba(60, 150, 63, 1) 100%);
    transition: top 1s linear, left 1s linear;
}

/*-----------------------*/

#modalGanador{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: -200px;
    width: 1000px;

    & button{
        color: white;
        font-weight: 700;
        border: none;
        border-radius: 16px;
        background-color: rgba(7, 159, 254, 1);
        width: 300px;
        padding: 1rem;

        &:hover{
            background-color: rgb(6, 129, 206, 1);
            cursor: pointer;
        }
    }

    & #h2Ganador{
        font-size: 40px;
        margin-bottom: 50px;
        color: rgba(7, 159, 254, 1);
    }
}


