#modal{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 2000;
}

#boxModal{
    width: 600px;
    height: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 16px;
    padding: 15px;
}

#boxModal form{
    display: flex;
    flex-direction: column;
}

#modal.modalAbierto {
  display: block;
}

.displayFlex{
    display: flex;
}

.displayNone{
    display: none;
}

#overlayModal{
    position: absolute;
    inset: 0;
    background-color: rgba(32, 32, 32, 0.45);
    display: flex;                 
    align-items: center;
    justify-content: center;
    padding: 16px;  
}

.colorObert{
    background-color: #ffc107;
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.colorEnProces{
    background-color: #0dcaf0;
    color: #1c3b3c;
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}

.colorTancat{
    background-color: #198754;
    color: white;
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
}

.colorAlta{
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: #dc3545;
    color: white;
}

.colorMitjana{
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffc107;
    color: black;
}

.colorBaixa{
    padding: 5px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    background-color: #0f6ffd;
    color: white;
}

.sectionConfirmacion{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.sectionConfirmacionAbierto{
    position: absolute;
    display: flex; 
    z-index: 999;
    justify-content: center;
    align-items: center;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

.contenedorConfirmacionCerrado{
    position: absolute;
    z-index: 999;
    border: 1px solid black;
    padding: 2rem;
    text-align: center;
    border-radius: 16px;
    background-color: #0f6ffd;
    color: white;
}

/* .contenedorConfirmacion{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: absolute;
    border: 1px solid black;
    padding: 2rem;
    width: 300px;
    text-align: center;
    border-radius: 16px;
    background-color: #0f6ffd;
    color: white;
} */

#botonesConfirmacion{
    display: flex;
    gap: 1rem;
    justify-content: center;

    & button{
        padding: 0 0.5rem;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }
}

